@media only screen and (min-width : 1600px) and (min-height : 600px){
    .section_3 .button_close {
        width: 70px;
        height: 70px;
    }

    .section_3 .button_close img {
        width: 22px;
        height: 22px;
    }


    .section_3 .swiper-container .swiper-slide .slide_content {
        width: 1300px;
        height: 500px;
    }
    
    .section_3 .swiper-container .swiper-slide .slide_content .block_text p {
        font-size: 24px;
    }

    .section_3 .swiper-container .swiper-slide .slide_content .block_img {
        width: 80%;
    }

    .section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
        width: 350px;
        height: 500px;
    }
}

@media only screen and (min-width : 1600px) and (min-height : 760px){
    .section_3 .button_close {
        width: 70px;
        height: 70px;
    }

    .section_3 .button_close img {
        width: 22px;
        height: 22px;
    }


    .section_3 .swiper-container .swiper-slide .slide_content {
        width: 1300px;
        height: 550px;
    }
    
    
    .section_3 .swiper-container .swiper-slide .slide_content .block_text p {
        font-size: 25px;
    }

    .section_3 .swiper-container .swiper-slide .slide_content .block_img {
        width: 90%;
    }

    .section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
        width: 400px;
        height: 550px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }


    .section_3 .block_buttons .button_switch {
        width: 70px;
        height: 70px;
    }

    .section_3 .block_buttons .button_switch img {
        width: 32px;
        height: 32px;
    }

    .section_3 .block_buttons .button_open_video {
        width: 170px;
        height: 50px;
        color: #000;
        font-size: 22px;
    }


    .section_3 .button_logo {
        width: 180px;
        height: 55px;
        bottom: 55px;
        right: 55px;
    }
}

@media only screen and (min-width : 1800px){
    .section_3 .button_close {
        width: 80px;
        height: 80px;
    }

    .section_3 .button_close img {
        width: 25px;
        height: 25px;
    }


    .section_3 .button_logo {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (min-width : 2000px){
    .section_3 .swiper-container .swiper-slide .slide_content {
        width: 1500px;
        height: 600px;
    }
    
    
    .section_3 .swiper-container .swiper-slide .slide_content .block_text p {
        font-size: 28px;
    }

    .section_3 .swiper-container .swiper-slide .slide_content .block_img {
        width: 80%;
    }

    .section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
        width: 420px;
        height: 600px;
    }


    .section_3 .block_buttons .button_switch {
        width: 75px;
        height: 75px;
    }

    .section_3 .block_buttons .button_switch img {
        width: 33px;
        height: 33px;
    }

    .section_3 .block_buttons .button_open_video {
        width: 180px;
        height: 52px;
        font-size: 24px;
    }


    .section_3 .button_logo {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (max-width : 1200px){
	.section_3 .swiper-container .swiper-slide .slide_content {
		width: 900px;
	}
}

@media only screen and (max-width : 1100px){
	.section_3 .swiper-container .swiper-slide .slide_content {
		flex-direction: column;
		justify-content: space-between;
		gap: 30px;
		width: 600px;
		height: 100%;
	}

	.section_3 .content span {
		width: calc(100% - 150px);
	}


	.section_3 .swiper-container .swiper-slide .slide_content .block_text {
		justify-content: center;
		height: 100%;
	}



	.section_3 .popup_video .popup_content{
		width: calc(100% - 140px);
		height: 500px;
	}
}

@media only screen and (max-width : 900px){
	.section_3 .popup_video .popup_content{
		width: calc(100% - 80px);
		height: 450px;
	}
}

@media only screen and (max-width : 760px){
	.section_3 {
		padding-bottom: 90px;
		box-sizing: border-box;
	}



	.section_3 .button_close {
		width: 50px;
		height: 50px;
	}

	.section_3 .button_close img {
		width: 15px;
		height: 15px;
	}


	.section_3 .swiper-container {
		height: 100%;
		margin: 110px 0;
	}

	.section_3 .swiper-container .swiper-slide .slide_content {
		width: 550px;
	}
	
	.section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
		width: 200px;
		height: 270px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_text p {
		font-size: 15px;
	}


	.section_3 .content .separator {
		width: calc(100% - 70px);
		position: absolute;
		bottom: 60px;
	}


	.section_3 .block_buttons {
		justify-content: right;
		width: calc(100% - 100px);
		position: absolute;
		bottom: 0;
	}

	.section_3 .block_buttons .button_open_video {
		position: absolute;
		left: 0;
	}


	.section_3 .button_logo {
		width: 135px;
		height: 40px;
		right: auto;
		bottom: 95px;
	}


	.section_3 .slider_progress {
		top: 52px;
		bottom: auto;
		right: 52px;
		left: auto;
	}



	.section_3 .popup_video .popup_content{
		width: calc(100% - 50px);
		height: 370px;
	}
}

@media only screen and (max-width : 650px){
	.section_3 .content {
		width: 100%;
		height: calc(100% - 70px);
	}


	.section_3 .button_close {
		top: 30px;
		left: 25px;
	}


	.section_3 .slider_progress {
		top: 40px;
		right: 35px;
	}


	.section_3 .swiper-container {
		margin: 90px 0 110px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content {
		width: 450px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_text p {
		font-size: 14px;
	}


	.section_3 .content .separator {
		width: calc(100% - 30px);
	}


	.section_3 .block_buttons {
		width: calc(100% - 80px);
	}
	
	.section_3 .block_buttons .button_switch {
		width: 50px;
		height: 50px;
	}
	
	.section_3 .block_buttons .button_switch img {
		width: 25px;
		height: 25px;
	}


	.section_3 .button_logo {
		bottom: 85px;
	}
}

@media only screen and (max-width : 600px){
	.section_3 .popup_video .popup_content{
		height: 320px;
	}
}

@media only screen and (max-width : 550px){
	.section_3 .button_close {
		width: 40px;
		height: 40px;
	}


	.section_3 .slider_progress {
		font-size: 16px;
	}


	.section_3 .swiper-container {
		margin: 80px 0 110px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content {
		width: 400px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_text p {
		font-size: 13px;
	}


	.section_3 .block_buttons {
		width: calc(100% - 80px);
		gap: 15px;
	}

	.section_3 .block_buttons .button_open_video {
		width: fit-content;
		height: fit-content;
		font-size: 16px;
		padding: 10px 15px;
		box-sizing: border-box;
	}
	
	.section_3 .block_buttons .button_switch {
		width: 40px;
		height: 40px;
	}
	
	.section_3 .block_buttons .button_switch img {
		width: 22px;
		height: 22px;
	}


	.section_3 .button_logo {
		width: 100px;
		height: 30px;
		right: auto;
	}



	.section_3 .popup_video .popup_content{
		height: 300px;
	}
}

@media only screen and (max-width : 500px){
	.section_3 .swiper-container {
		margin: 80px 0 70px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content {
		width: calc(100% - 80px);
		gap: 15px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_text p {
		font-size: 12px;
		margin-bottom: 10px;
	}


	.section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
		width: 160px;
		height: 210px;
	}


	.section_3 .content .separator {
		bottom: 30px;
	}



	.section_3 .popup_video .popup_content{
		height: 250px;
		border-radius: 10px;
	}
}

@media only screen and (max-width : 410px){
	.section_3 {
		padding-bottom: 95px;
	}


	.section_3 .swiper-container .swiper-slide .slide_content {
		width: calc(100% - 50px);
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_text p {
		font-size: 12px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
		width: 140px;
		height: 180px;
	}

	.section_3 .button_logo {
		width: 73px;
		height: 22px;
	}


	.section_3 .block_buttons .button_switch {
		width: 30px;
		height: 30px;
	}

	.section_3 .block_buttons .button_switch img {
		width: 19px;
		height: 19px;
	}


	.section_3 .block_buttons {
		width: calc(100% - 50px);
	}

	.section_3 .block_buttons .button_open_video {
		font-size: 14px;
	}



	.section_3 .popup_video .popup_content{
		height: 200px;
	}
}



/* Высота */

@media only screen and (max-width : 1100px) and (max-height : 1100px) and (min-width : 760px){
	.section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
		width: 290px;
		height: 400px;
	}

	.section_3 .swiper-container .swiper-slide .slide_content .block_text p {
		font-size: 18px;
	}
}

@media only screen and (max-width : 1100px) and (max-height : 950px) and (min-width : 760px){
	.section_3 .swiper-container .swiper-slide .slide_content {
		gap: 10px;
	}
	
	.section_3 .swiper-container .swiper-slide .slide_content .block_img .block_img__content {
		width: 250px;
		height: 350px;
	}
}

/* Высота */